/* general styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f1f1f1;
}

section {
  display: flex;
}

/*header styles */

header {
  display: flex;
  justify-content: space-between;
}
.banner {
  height: 10vh;
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

/* About Me styles */

.right-side {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.about-me {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 75%;
}

.side-bar {
  width: 25%;
  border-right: 5px solid red;
  padding-bottom: 40px;
}

/* Projects */

/* main big project styles */
.project-big-right {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: green;
  height: 80px;
}

/* small project styles */

.project-small-right {
  /* display: flex;
  flex-direction: column; */
  width: 50%;
  background-color: yellow;
  height: 30px;
  /* flex: 1; */
}

.third-one {
  background-color: red;
}

.small-projects {
  display: flex;
  flex-wrap: wrap;
}

/* .project-item {
  height: 30px;
  width: 100%;
  background-color: green;
 
} */
