/* general styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #faf9f6;
}

section {
  display: flex;
}

li {
  list-style-type: none;
}

/*header styles */

.title {
  display: flex;
  background-color: #7fffd4;
  margin: 5px 0 8px 0;
  border-radius: 1px;
}

h1 {
  padding-left: 2.1rem;

  color: gray;
  font-size: 2.3rem;
}

.navbar {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbar li {
  margin-left: 10px;
}

.navbar li a {
  color: #7fffd4;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar li {
  padding: 2px 5px 0 5px;
  border-bottom: #7fffd4 0.125em solid;
}

.last-li {
  margin-right: 25px;
}

header {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-pic {
  height: auto;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
  padding-right: 5px;
}

/* banner styles */

.banner {
  position: relative;
  height: 12vh;
  width: 100%;
  background: repeating-linear-gradient(
    135deg,
    #0e98ba,
    #0e98ba 30px,
    #003366 30px,
    #003366 60px
  );
}

.banner-subtitle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0 10px;
  background-color: #7fffd4;
  color: gray;
  border-radius: 1px;
}

/* About Me styles */

.right-side {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 22px;
}
.about-me {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 75%;
}

.side-bar {
  width: 25%;
  border-right: 3px solid #0074b7;
  padding-bottom: 40px;
  margin-top: 30px;
}

.work-title {
  font-size: 1.7rem;
  text-align: right;
  padding-top: 5px;
  padding-right: 15px;
  color: #0074b7;
}

.about-me-par {
  color: gray;
}

/* Project styles */

.small-projects {
  display: flex;
  flex-wrap: wrap;
}

.resume-image {
  height: auto;
  width: 100%;
}

.smaller-image {
  height: auto;
  width: 100%;
}

.right-side-top {
  position: relative;
  margin: 20px 80px 20px 30px;
}

.smaller-right-image {
  height: auto;
  width: 100%;
}

.project-row {
  position: relative;
  display: flex;
  gap: 20px;
  margin: 20px 80px 20px 30px;
}
/* image styles */

.smaller-image,
.resume-image {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.smaller-image:hover,
.resume-image:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.image-div {
  position: absolute;
  background-color: #7fffd4;
  bottom: 20px;
  padding: 8px;
}

.second-right-image {
  position: relative;
}

.right-side-smaller {
  position: absolute;
  background-color: #7fffd4;
  bottom: 20px;
  padding: 8px;
}

span {
  font-size: 0.8rem;
}

/* Contact styles*/
.contact-right {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
  justify-content: space-evenly;
  align-items: center;
}

.contact-right li {
  margin-left: 10px;
  padding: 0 3px;
  border-bottom: #0074b7 0.125em solid;
}

.contact-right li a {
  text-decoration: none;
  color: #0074b7;
}

.contact-right-center {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  padding-left: 30px;
  width: 75%;
}

.contact-side-bar {
  margin-bottom: 15px;
}

/* Media Querys */

@media all and (max-width: 704px) {
  /* header styles */
  header {
    justify-content: center;
  }

  h1 {
    padding-left: 5px;
  }

  .last-li {
    margin-right: 10px;
  }

  .navbar li {
    margin-bottom: 5px;
  }

  /* About Me styles */

  .about-me {
    flex-direction: column;
  }

  .right-side {
    width: 100%;
    margin-top: 0;
  }

  .side-bar {
    width: 100%;
    border-right: none;
    padding-bottom: 0;
    margin-top: 0;
  }

  .work-title {
    text-align: center;
    padding-top: 10px;
    padding-right: 0;
  }

  .right-side-top {
    margin: 10px 30px 10px 30px;
  }

  /* Project styles */
  .projects {
    display: flex;
    flex-direction: column;
  }

  .project-row {
    margin: 10px 30px 10px 30px;
  }

  /* Contact styles*/

  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-right {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .contact-right-center {
    padding-right: 30px;
  }

  .contact-right li {
    margin-left: 0;
    margin-bottom: 2px;
  }
}
